<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!--编码过滤-->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.smileBlog.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--登录过滤-->
    <!--<filter>-->
        <!--<filter-name>LoginFilter</filter-name>-->
        <!--<filter-class>com.smileBlog.filter.LoginFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>LoginFilter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!--ajax验证用户名-->
    <servlet>
        <servlet-name>AjaxValidateUsernameServlet</servlet-name>
        <servlet-class>com.smileBlog.user.servlet.AjaxValidateUsernameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjaxValidateUsernameServlet</servlet-name>
        <url-pattern>/AjaxValidateUsernameServlet</url-pattern>
    </servlet-mapping>

    <!--获取验证码-->
    <servlet>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <servlet-class>cn.itcast.vcode.servlet.VerifyCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <url-pattern>/VerifyCodeServlet</url-pattern>
    </servlet-mapping>

    <!--ajax验证验证码-->
    <servlet>
        <servlet-name>AjaxValidateVerifyCodeServlet</servlet-name>
        <servlet-class>com.smileBlog.user.servlet.AjaxValidateVerifyCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjaxValidateVerifyCodeServlet</servlet-name>
        <url-pattern>/AjaxValidateVerifyCodeServlet</url-pattern>
    </servlet-mapping>

    <!--注册-->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.smileBlog.user.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>

    <!--登录-->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.smileBlog.user.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <!--更新用户的文章数-->
    <servlet>
        <servlet-name>UpdateUserArticleNumberServlet</servlet-name>
        <servlet-class>com.smileBlog.user.servlet.UpdateUserArticleNumberServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserArticleNumberServlet</servlet-name>
        <url-pattern>/UpdateUserArticleNumberServlet</url-pattern>
    </servlet-mapping>

    <!--添加消息列表-->
    <servlet>
        <servlet-name>AddMessageServlet</servlet-name>
        <servlet-class>com.smileBlog.message.servlet.AddMessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMessageServlet</servlet-name>
        <url-pattern>/AddMessageServlet</url-pattern>
    </servlet-mapping>

    <!--添加消息数-->
    <servlet>
        <servlet-name>UpdateMessageNumberServlet</servlet-name>
        <servlet-class>com.smileBlog.message.servlet.UpdateMessageNumberServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateMessageNumberServlet</servlet-name>
        <url-pattern>/UpdateMessageNumberServlet</url-pattern>
    </servlet-mapping>

    <!--获取消息数-->
    <servlet>
        <servlet-name>AjaxGetMessageNumberServlet</servlet-name>
        <servlet-class>com.smileBlog.message.servlet.AjaxGetMessageNumberServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjaxGetMessageNumberServlet</servlet-name>
        <url-pattern>/AjaxGetMessageNumberServlet</url-pattern>
    </servlet-mapping>

    <!--首页、获取文章-->
    <servlet>
        <servlet-name>GetArticleListServlet</servlet-name>
        <servlet-class>com.smileBlog.article.servlet.GetArticleListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetArticleListServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <!--文章详情页-->
    <servlet>
        <servlet-name>GetArticleServlet</servlet-name>
        <servlet-class>com.smileBlog.article.servlet.GetArticleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetArticleServlet</servlet-name>
        <url-pattern>/article</url-pattern>
    </servlet-mapping>

    <!--更新文章各个功能的数量-->
    <servlet>
        <servlet-name>UpdateArticleNumberServlet</servlet-name>
        <servlet-class>com.smileBlog.article.servlet.UpdateArticleNumberServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateArticleNumberServlet</servlet-name>
        <url-pattern>/UpdateArticleNumberServlet</url-pattern>
    </servlet-mapping>

    <!--写文章-->
    <servlet>
        <servlet-name>WriteArticleServlet</servlet-name>
        <servlet-class>com.smileBlog.article.servlet.WriteArticleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WriteArticleServlet</servlet-name>
        <url-pattern>/writeArticle</url-pattern>
    </servlet-mapping>

    <!--提交文章-->
    <servlet>
        <servlet-name>SubmitArticleServlet</servlet-name>
        <servlet-class>com.smileBlog.article.servlet.SubmitArticleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitArticleServlet</servlet-name>
        <url-pattern>/SubmitArticleServlet</url-pattern>
    </servlet-mapping>

    <!--获取收藏列表-->
    <servlet>
        <servlet-name>GetCollectionListServlet</servlet-name>
        <servlet-class>com.smileBlog.collection.servlet.GetCollectionListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCollectionListServlet</servlet-name>
        <url-pattern>/collection</url-pattern>
    </servlet-mapping>

    <!--获取是否收藏-->
    <servlet>
        <servlet-name>GetCollectionServlet</servlet-name>
        <servlet-class>com.smileBlog.collection.servlet.GetCollectionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCollectionServlet</servlet-name>
        <url-pattern>/GetCollectionServlet</url-pattern>
    </servlet-mapping>

    <!--ajax添加、删除收藏-->
    <servlet>
        <servlet-name>AjaxCollectionServlet</servlet-name>
        <servlet-class>com.smileBlog.collection.servlet.AjaxAddOrDelectCollectionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjaxCollectionServlet</servlet-name>
        <url-pattern>/AjaxCollectionServlet</url-pattern>
    </servlet-mapping>

    <!--获取工具列表-->
    <servlet>
        <servlet-name>GetToolListServlet</servlet-name>
        <servlet-class>com.smileBlog.tool.servlet.GetToolListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetToolListServlet</servlet-name>
        <url-pattern>/tool</url-pattern>
    </servlet-mapping>

    <!--获取评论列表-->
    <servlet>
        <servlet-name>GetCommentListServlet</servlet-name>
        <servlet-class>com.smileBlog.comment.servlet.GetCommentListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCommentListServlet</servlet-name>
        <url-pattern>/GetCommentListServlet</url-pattern>
    </servlet-mapping>

    <!--ajax提交或删除评论-->
    <servlet>
        <servlet-name>AjaxSubmitCommentServlet</servlet-name>
        <servlet-class>com.smileBlog.comment.servlet.AjaxAddOrDelectCommentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjaxSubmitCommentServlet</servlet-name>
        <url-pattern>/AjaxSubmitCommentServlet</url-pattern>
    </servlet-mapping>

    <!--获取是否点赞-->
    <servlet>
        <servlet-name>GetLikeServlet</servlet-name>
        <servlet-class>com.smileBlog.like.servlet.GetLikeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetLikeServlet</servlet-name>
        <url-pattern>/GetLikeServlet</url-pattern>
    </servlet-mapping>

    <!--ajax添加、删除点赞-->
    <servlet>
        <servlet-name>AjaxAddOrDelectLikeServlet</servlet-name>
        <servlet-class>com.smileBlog.like.servlet.AjaxAddOrDelectLikeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjaxAddOrDelectLikeServlet</servlet-name>
        <url-pattern>/AjaxAddOrDelectLikeServlet</url-pattern>
    </servlet-mapping>
    
    <!--获取文章-->
    <!--<servlet>-->
        <!--<servlet-name>AjaxGetArticleListServlet</servlet-name>-->
        <!--<servlet-clcom.smileBlog.noUse.AjaxGetArticleListServletvlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>AjaxGetArticleListServlet</servlet-name>-->
        <!--<url-pattern>/AjaxGetArticleListServlet</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--获取用户信息-->
    <!--<servlet>-->
        <!--<servlet-name>AjaxGetUserServlet</servlet-name>-->
        <!--<servlet-clcom.smileBlog.noUse.AjaxGetUserServletvlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>AjaxGetUserServlet</servlet-name>-->
        <!--<url-pattern>/AjaxGetUserServlet</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--文件上传-->
    <!--<servlet>-->
        <!--<servlet-name>TestUploadServlet</servlet-name>-->
        <!--<servlet-class>com.smileBlog.test.TestUploadServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>TestUploadServlet</servlet-name>-->
        <!--<url-pattern>/TestUploadServlet</url-pattern>-->
    <!--</servlet-mapping>-->
    <servlet>
        <servlet-name>AjaxUploadServlet</servlet-name>
        <servlet-class>com.smileBlog.tool.servlet.AjaxUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjaxUploadServlet</servlet-name>
        <url-pattern>/AjaxUploadServlet</url-pattern>
    </servlet-mapping>

    <!--文件下载-->
    <servlet>
        <servlet-name>DownloadFileServlet</servlet-name>
        <servlet-class>com.smileBlog.tool.servlet.DownloadToolServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadFileServlet</servlet-name>
        <url-pattern>/DownloadFileServlet</url-pattern>
    </servlet-mapping>

    <!--搜索文章-->
    <servlet>
        <servlet-name>SearchArticleServlet</servlet-name>
        <servlet-class>com.smileBlog.article.servlet.SearchArticleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchArticleServlet</servlet-name>
        <url-pattern>/SearchArticleServlet</url-pattern>
    </servlet-mapping>

    <!--搜索用户-->
    <servlet>
        <servlet-name>SearchUserServlet</servlet-name>
        <servlet-class>com.smileBlog.user.servlet.SearchUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchUserServlet</servlet-name>
        <url-pattern>/SearchUserServlet</url-pattern>
    </servlet-mapping>
</web-app>

