/*搜索界面样式*/
.classify{
	width: 80%;
	margin: 0px auto;
	height: 60px;
	line-height: 60px;
	text-align: left;
	margin-top: 54px;
}

.classify div{
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-bottom: 3px solid #f9be52;
	margin-right: 20px;
	float: left;
	font-size: 1.3em;
}

.classify div:nth-child(2){
	/*background-color:#8E8B8B ;*/
	opacity: 0.7;
}

.AUTHOR,.ARTICLE{
	width: 80%;
	margin:0px auto;
	min-height: 560px;
	/*margin-top: 70px;*/
}

.AUTHOR{
	display: none;
}

.users-message{
	width: 100%;
	height: 100px;
	line-height: 100px;
	/*text-align: center;*/
	border-top: 1px solid #8E8B8B;
	border-bottom: 1px solid #f9be52;
	margin-bottom: 6px;
	background-color: #8E8B8B;
	text-align: left;
}

.user-picture{
	height: 100px;
	width: 10%;
	float: left;
    /*overflow: hidden;*/
}

.user-picture img{
	width:50px;
	height: 50px;
	border-radius: 100%;
	float: left;
	/*padding-top: 5px;*/
	position: relative;
	transform: translate(10%,10%);
}

.user-data{
	width: 85%;
	height: 100px;
	float: left;
}
.user-name{
	width: 100%;
	height: 30px;
	line-height: 30px;
	float: left;
	font-weight: bold;
}

.user-lable{
	width: 100%;
	height: 30px;
	line-height: 30px;
	float: left;	
}

.uesr-article{
	width: 100%;
	height: 30px;
	line-height: 30px;
	float: left;
}

.user-article div{
	width: 20%;
	height: 30px;
	line-height: 30px;
	float: left;
}

.article-messgae{
	width: 100%;
	height: 80px;
	line-height: 80px;
	text-align: center;
	border-top: 1px solid #8E8B8B;
	border-bottom: 1px solid #f9be52;
	margin-bottom: 6px;
	background-color: #8E8B8B;
}

.passage{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
}

.passage-name,.passage-author,.passage-time{
	float: left;
	width: 33.3%;
	height: 40px;
}

.passage-name{
	text-align: left;
}

.passage-abstract{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
}

.passage-abstract div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: left;
	color: #BDB9B9;
}